body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: #f8f4ee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-card {
    background: #fff;
    padding: 40px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.auth-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-card input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.auth-card button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #c9a86a;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.auth-card a {
    color: #c9a86a;
}
